
{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<body>

  

  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="top-text header-text">
            {% comment %} <h6>Check Out Our Listings</h6> {% endcomment %}
            <h2>About Us</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid my-5" >
    <div class="card">
      <div class="card-body">
        <p class="h6" style="text-align: center"> Alpha women is a group of young girls who are not afraid of taking the lead,
          dream big and go for what they want. The initiative is to set up an indestructible
          mentality that they have every right to be rich and very successful at every quota of Life.</p>
      </div>
    </div>
     <br>

    <h2 style="text-align: center; margin-top:30px">Activities to grow/build an ALPHA WOMAN</h2> <br>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">‌‌Financial Gym</li>
            <li class="list-group-item">‌‌Physical/mental exercise</li>
            <li class="list-group-item">‌Think and grow big (ideas)</li>
            <li class="list-group-item">‌Prayer Life and the word</li>
            <li class="list-group-item">‌‌‌‌Source for women with unique abilities and skills</li>
            <!-- <li class="list-group-item">‌‌Talent expression</li> -->
            
          </ul>
        </div>
        <div class="col-sm">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Build women who can perform and deliver more</li>
            <li class="list-group-item">‌‌‌values than a man</li>
            <li class="list-group-item">‌‌‌Extral curriculum activities</li>
            <li class="list-group-item">‌‌‌‌Talent expression</li>
            
            
          </ul>
        </div>
      </div>
    </div>

    <div class="container" style="margin-top: 50px;">
     <h1 style="text-align: center;"> Our Pioneers </h1> <br><br>

      <div class="row row-cols-1 row-cols-md-2 g-4">
      
        <div class="col">
              <div class="card">
                <img src="{% static 'assets/images/admin1.png' %}" class="img-fluid" alt="..." style="height: 60vh;">
                <!-- <img src="{% static 'assets/images/admin1.png' %}" alt="Plot Listing" style="height: 80vh;"> -->
                <div class="card-body">
                  <h5 class="card-title">Urhoghide Osamahemwen Lauretta</h5>
                  <p class="card-text">
                    a model and model coach; make-up artist; vet; owner, DWL(a strictly denim Brand);
                    and a 300level student of animal and environmental biology, University of Benin.
                    I hail from Ikpoba- Okha LGA of Edo state, Nigeria.
                    I believe we get better with every step we take, and every decision we make.
                    So I can say, boldly, I'm stronger today-in everything I do- than I was yesterday.
                    There's an amazing thing about moving with the 'right crowd', 
                    and Alpha Women Initiative is the best place to be.
                  </p>
                </div>
              </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{% static 'assets/images/admin2.png' %}" class="img-fluid" alt="..." style="height: 60vh;">
            <div class="card-body">
              <h5 class="card-title">Bamigboye Temilade Paris</h5>
              <p class="card-text">
                Undergraduate at the prestigious University of Benin.
                  I'm from Ogun State but have basically spent my whole life in Benin City.
                  I sew, can make beautiful hairstyles and still your Very own digital marketer.
                  I would love to have my own cloth line as this is what I aim to achieve with 
                  the Alpha Women Initiative program. To be different, independent, bold and confidence.
              </p>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
   
 



  </div>

  {% endblock content %}
