{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>ALPHA WOMEN</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-plot-listing.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
<!--

TemplateMo 564 Plot Listing

https://templatemo.com/tm-564-plot-listing

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img src="{% static 'assets/images/MAINLOGO3.jpg' %}"
               style="width: 130px; height:80px; border-radius:50%; margin-top:-15px;" alt="ALPHA WOMEN">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="{% url 'home' %}"> <class="active">Home</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'list_view' %}">Lists</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
              <li><a href="listing.html"></a></li>

            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->


{% block content %}

{% endblock content %}
 
{% if messages %}
  {% for message in messages  %}
    <div class="alert alert-{{message.tags}}">
      {{message}}
    </div>
  {% endfor %}
{% endif %}
 <footer>
    <div class="main-footer" >
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="about">
                <div class="logo">
                  <!-- <H4>ALPHA WOMEN</H4> -->
                  <img src="{% static 'assets/images/mainlogo.png' %}" alt="ALPHA WOMEN" style="margin-top: -30px;">
                </div>
                <p><b> Alpha Women Initiative</b> Be the best version of your self as a woman. Physically, 
                  financially, spiritually and otherwise !</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="helpful-links">
                <h4></h4>
                <div class="row">
                 
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="contact-us">
                <h4>Contact Us</h4>
                <p>70 Jakpa Road, Effurun, Delta state.</p>
                <div class="row">
                  <div class="col-lg-6">
                    <a href="#">+234 802 43 365 85</a>
                  </div>
                  <div class="col-lg-6">
                    <a href="#">+234 816 751 7262</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sub-footer">
                <p>Copyright © 2021 Alpha WomenCo., Ltd. All Rights Reserved.
                <br>
          Design: <a rel="nofollow" href="https://gentilitycv.herokuapp.com/" title="CSS Templates">Douglas</a></p>
              </div>
            </div>
          </div>
        </div>
  </div>
  </footer>


  <!-- Scripts -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
  <script src="{% static 'assets/js/animation.js' %}"></script>
  <script src="{% static 'assets/js/imagesloaded.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>

</body>

</html>
